h1 {
	font-size: 18px;
	margin: 15px 0px 5px;
	background-color: rgba(0, 0, 0, 0.151);
}

h2 {
	font-size: 15px;
	margin: 15px 0px 5px;
	background-color: rgba(0, 0, 0, 0.058);
}

h3 {
	font-size: 13px;
	margin: 15px 0px 5px;
}

li {
	margin: 2px 0px 2px 15px;
}

ul {
	margin: 5px;
	padding: 0px;
}

ol {
	margin: 5px;
	padding: 0px 15px;
}

body {
	font-size: 14px;
	font-family: Verdana;
	background-color: rgb(163, 216, 216);
}

div._dimmer {
	background-color: rgba(0, 0, 0, 0.135);
}

img._wikiimage {
	border-style: outset;
	border-radius: 4;
}
